@charset "UTF-8";
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

body {
  font-family: "NanumBarunGothic", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

header .menubar {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

header .menubar .logo {
  position: absolute;
  margin-top: 20px;
  width: 233px;
}

header .menubar .logo img {
  width: inherit;
}

header .menubar .menu_list {
  padding-left: 380px;
  padding-right: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 66px;
}

header .menubar .menu_list li {
  font-size: 20px;
  font-weight: 900;
}

header .menubar .menu_list li a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

header .menubar .menu_list li .selected {
  color: #115bab;
}

header .menubar .menu_list li > a:hover {
  color: #115bab;
}

header .menubar .button_area {
  position: absolute;
  right: 0;
  top: 25px;
}

header .menubar .button_area .fa-magnifying-glass {
  color: #115bab;
}

header .menubar .button_area .login_btn {
  margin-left: 10px;
  border: 1px solid #e5e5e7;
  color: #999;
  font-size: 13px;
  background-color: #fff;
  padding: 7px 15px;
  cursor: pointer;
}

header .nav_bottom {
  height: 40px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav_bottom .breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav_bottom .breadcrumb li {
  position: relative;
  padding-right: 30px;
  color: #1b1d21;
  font-size: 14px;
  padding: 7px 11px;
}

header .nav_bottom .breadcrumb li + li {
  padding-left: 30px;
}

header .nav_bottom .breadcrumb li + li::before {
  content: "";
  width: 10px;
  /* 사이즈 */
  height: 10px;
  /* 사이즈 */
  border-top: 1px solid #777;
  /* 선 두께 */
  border-right: 1px solid #777;
  /* 선 두께 */
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* 각도 */
  position: absolute;
  top: 10px;
  left: 0;
}

header .nav_bottom .breadcrumb li + li > .bread_item {
  padding-right: 20px;
  position: relative;
}

header .nav_bottom .breadcrumb li + li > .bread_item::after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border: 5px solid transparent;
  border-bottom-width: 0;
  border-top-color: #777;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
}

header .nav_bottom .breadcrumb li .now_item {
  color: #115bab;
}

header .nav_bottom .icon_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  padding-right: 10px;
}

header .nav_bottom .icon_list li {
  margin-left: 20px;
}

header .nav_bottom .icon_list li i {
  color: #777;
}

header .nav_bottom .icon_list .print_tip_btn {
  background-color: #777;
  width: 64px;
  height: 21px;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
}

main .container {
  background-color: #f7f7f9;
  height: 100%;
}

main .container .inner_wrap {
  padding-top: 50px;
  padding-bottom: 100px;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

main .container .page_title {
  font-size: 24px;
  color: #115bab;
  padding-bottom: 20px;
  margin-bottom: 35px;
  border-bottom: 2px #115bab solid;
  font-weight: bold;
}

main .container .inner_text {
  font-size: 17px;
  margin-bottom: 40px;
  color: #44484f;
  line-height: 1.7;
}

main .container .content_list .content_item .item_title {
  font-size: 24px;
  color: #1b1d21;
  font-weight: bold;
}

main .container .content_list .content_item .item_detail_box {
  margin-top: 15px;
  margin-bottom: 70px;
  padding: 30px;
  background-color: #efeff3;
  font-size: 16px;
  color: #6e7179;
}

main .container .content_list .content_item .item_detail_box .item_intro {
  line-height: 1.5;
  margin-bottom: 30px;
}

main .container .content_list .content_item .item_detail_box .detail_list > li {
  border-bottom: 1px #dadada solid;
  margin-bottom: 25px;
}

main .container .content_list .content_item .item_detail_box .detail_list > li:last-child {
  border: none;
  margin-bottom: 0;
}

main .container .content_list .content_item .item_detail_box .detail_list > li:last-child ul {
  margin-bottom: 0;
}

main .container .content_list .content_item .item_detail_box .detail_list .detail_item_title {
  color: #115bab;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

main .container .content_list .content_item .item_detail_box .detail_list .detail_item_list {
  margin-bottom: 30px;
}

main .container .content_list .content_item .item_detail_box .detail_list .detail_item_list li {
  position: relative;
  margin: 3px 0;
  line-height: 26px;
  padding-left: 12px;
}

main .container .content_list .content_item .item_detail_box .detail_list .detail_item_list li::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #555;
  top: 10px;
  left: 0;
}

main .container .content_list .content_item .item_detail_box .detail_list .detail_item_outro {
  color: #115bab;
  padding-bottom: 25px;
}

.expand {
  width: 100%;
  height: 0px;
  background-color: #115bab;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: hidden;
}

.yes {
  height: 450px;
}

footer {
  background-color: #595f6a;
  width: 100vw;
  height: 200px;
}

footer .footer_inner {
  width: 1280px;
  margin: 0 auto;
}

footer .footer_inner ul {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_inner ul li {
  padding: 20px 15px;
  position: relative;
}

footer .footer_inner ul li:first-child {
  padding-left: 0;
}

footer .footer_inner ul li + li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #7c7e82;
  left: -2px;
}

footer .footer_inner ul li a {
  color: #fff;
}

footer .footer_inner ul li a:hover {
  color: #7498dc;
  text-decoration: underline;
}

footer .footer_inner .footer_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px #515762 solid;
}

footer .footer_inner .footer_top .link_list {
  font-size: 15px;
}

footer .footer_inner .footer_top .button_area button {
  position: relative;
  font-family: "NanumBarunGothic", sans-serif;
  width: 165px;
  font-size: 15px;
  padding: 20px;
  color: #fff;
}

footer .footer_inner .footer_top .button_area button:hover {
  background: #464c58;
}

footer .footer_inner .footer_top .button_area button::before {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border: 5px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25px;
}

footer .footer_inner .footer_bottom li > a {
  font-size: 13px;
}

footer .footer_inner .footer_bottom .sitemap::after {
  content: " ";
  height: 0;
  width: 0;
  margin-left: 8px;
  border: 5px solid transparent;
  border-right-width: 0;
  display: inline-block;
  border-left-color: #fff;
  vertical-align: middle;
}

footer .footer_inner .footer_bottom .footer_info {
  margin-top: 6px;
  color: #b0b4bb;
  font-size: 13px;
}

footer .footer_inner .footer_bottom .footer_info p {
  margin-bottom: 5px;
}

footer .selected {
  color: #7498dc !important;
  text-decoration: underline;
}
